{% extends '../_layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  {% include '../partials/books-header.html' %}

  <br><br>

  <div class="row">
    <div class="col-sm-4">
      <h2>Add New Book</h2>
      <br>
      <form action="/books" method="post">
        <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="Title" required autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="genre" class="form-control" placeholder="Genre" required>
        </div>
        <div class="form-group">
          <input type="url" name="cover_url" class="form-control" placeholder="Cover Image URL" required>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="description" rows="5" placeholder="Description" required></textarea>
        </div>
        <div class="form-group">
          <select multiple="" class="form-control" name="authors" required>
            {% for author in authors %}
              <option value="{{ author.id }}" {% if authors.indexOf(author.id) != -1 %} selected {% endif %}>{{ author.first_name }}&nbsp;{{ author.last_name }}</option>
            {% endfor %}
          </select>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Book</button>
      </form>
    </div>
  </div>

{% endblock %}