{% extends '../_layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  {% include '../partials/books-header.html' %}

  <br><br>

  <div class="row">
    <div class="col-sm-12">
      {% if books.length %}
        {% for book in books %}
          <div class="row">
            <div class="col-md-4 col-md-offset-1">
            <a href="#">
              <img class="img-responsive book-image" src="{{ book.cover_url }}">
            </a>
            </div>
            <div class="col-md-6">
              <h3><a href="/books/{{ book.id }}">{{ book.title }}</a></h3>
              <h4>{{ book.genre }}</h4>
              <p>{{ book.description }}</p>
              {% if user.admin %}
                <div class="btn-group-lg" role="group">
                  <a class="btn btn-success" href="#" role="button">Edit</a>
                  <button type="button" data-book-id="{{ book.id }}" class="btn btn-danger" id="remove-book">Remove</button>
                </div>
              {% endif %}
            </div>
          </div>
          <br><br>
        {% endfor %}
      {% else %}
        <h3>No books!</h3>
      {% endif %}
    </div>
  </div>


{% endblock %}
