{% extends '../_layout.html' %}

{% block title %}{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/js/books.js"></script>
{% endblock %}


{% block content %}

  <script type="text/javascript">
    var genres = "{{ genres }}";
  </script>

  {% include '../partials/books-header.html' %}

  <br><br>

  <div class="row">
    <div class="col-md-2">
      <h2>Total Books:&nbsp;<span><em>{{ totalBooks }}</em></span></h2>
      {% if books.length %}
        <h2>Filter:</h2>
        <br>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genre<span class="caret"></span></button>
          <ul class="dropdown-menu">
          {% for genre in genres %}
            <li id="genre" class="genre">&nbsp;{{ genre }}</li>
          {% endfor %}
          </ul>
        </div>
        <br>
        <h2>Search:</h2>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="search-books" placeholder="Search (genre)">
          </div>
        </form>
        <br><br>
        <button class="btn btn-default remove-filter" id="remove-filter">Remove Filter</button>
      {% else %}
        <h3>No books!</h3>
      {% endif %}
      <br><br><br>
    </div>
    <div class="col-md-10">
      {% if books.length %}
        {% for book in books %}
          <div class="book" data-book-genre="{{ book.genre }}">
            <div class="row">
              <div class="col-md-4">
                <img class="img-responsive book-image" src="{{ book.cover_url }}">
              </div>
              <div class="col-md-6 col-md-offset-1">
                <h3><a href="/books/{{ book.id }}">{{ book.title }}</a></h3>
                <h4>{{ book.genre }}</h4>
                <p>{{ book.description }}</p>
                {% if user.admin %}
                  <div class="btn-group-lg" role="group">
                    <a class="btn btn-success" href="/books/{{ book.id }}/edit" role="button">Edit</a>
                    <button type="button" data-book-id="{{ book.id }}" class="btn btn-danger remove-book">Remove</button>
                  </div>
                {% endif %}
              </div>
            </div>
            <br><br>
          </div>
        {% endfor %}
        {% if pageCount > 1 %}
          <ul class="pagination">
            {% if currentPage > 1 %}
              <li><a href="/books?page=1">&laquo;&nbsp;Previous</a></li>
            {% endif %}
            {% if currentPage !== pageCount %}
              <li><a href="/books?page={{ currentPage+1 }}">Next&nbsp;&raquo;</a></li>
            {% endif %}
          </ul>
        {% endif %}
      {% endif %}
    </div>
  </div>

{% endblock %}