{% extends '../_layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  {% include '../partials/books-header.html' %}

  <br><br>

  <div class="row">
    <div class="col-sm-12">
      {% for book in books %}
        <div class="row">
          <div class="col-md-4 col-md-offset-1">
          <a href="#">
            <img class="img-responsive book-image" src="{{ book.cover_url }}">
          </a>
          </div>
          <div class="col-md-6">
            <h3><a href="/books/{{ book.id }}">{{ book.title }}</a></h3>
            <h4>{{ book.genre }}</h4>
            <p>{{ book.description }}</p>
            {% if user.admin %}
              <div class="btn-group-lg" role="group">
                <button type="button" class="btn btn-success">Edit</button>
                <button type="button" class="btn btn-danger">Remove</button>
              </div>
            {% endif %}
          </div>
        </div>
        <br><br>
      {% endfor %}
    </div>
  </div>


{% endblock %}
