{% extends '../_layout.html' %}

{% block title %}{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/js/authors.js"></script>
{% endblock %}

{% block content %}

  <script type="text/javascript">
    var lastNames = "{{ lastNames }}";
  </script>

  {% include '../partials/authors-header.html' %}

  <br><br>

  <div class="row">
    <div class="col-md-2">
      <h2>Total Authors:&nbsp;<span><em>{{ totalAuthors }}</em></span></h2>
      {% if authors.length %}
        <h2>Search:</h2>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="search-authors" placeholder="Search (last name)">
          </div>
        </form>
        <br>
      {% else %}
        <h3>No Authors!</h3>
      {% endif %}
      <br><br><br>
    </div>
    <div class="col-sm-10">
      {% if authors.length %}
        {% for author in authors %}
          <div class="author" data-author-last-name="{{ author.last_name }}">
            <div class="row">
              <div class="col-md-2">
                <img class="img-responsive author-image" src="{{ author.portrait_url }}">
              </div>
              <div class="col-md-6 col-md-offset-1">
                <h3><a href="/authors/{{ author.id }}">{{ author.first_name }}&nbsp;{{ author.last_name }}</a></h3>
                <h4>{{ author.genre }}</h4>
                <p>{{ author.biography }}</p>
                <p><strong>Bibliography:</strong></p>
                <ol>
                  <li><a href="/books/{{ author.book_id }}">{{ author.book_title }}</a></li>
                </ol>
                {% if user.admin %}
                  <div class="btn-group-lg" role="group">
                    <a class="btn btn-success" href="/authors/{{ author.id }}/edit" role="button">Edit</a>
                    <button type="button" data-author-id="{{ author.id }}" class="btn btn-danger remove-author">Remove</button>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <br><br>
        {% endfor %}
        {% if pageCount > 1 %}
          <ul class="pagination">
            {% if currentPage > 1 %}
              <li><a href="/authors?page=1">&laquo;&nbsp;Previous</a></li>
            {% endif %}
            {% if currentPage !== pageCount %}
              <li><a href="/authors?page={{ currentPage+1 }}">Next&nbsp;&raquo;</a></li>
            {% endif %}
          </ul>
        {% endif %}
      {% endif %}
    </div>
  </div>

{% endblock %}