<div class="row">
  <div class="col-sm-12">
    <h1 class="page-header">Galvanize Reads<small>&nbsp;Authors</small></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 portfolio-item">
    <a href="/books">
      <img class="img-responsive" src="http://placehold.it/700x100/5bc0de/000000?text=Books">
    </a>
  </div>
  <div class="col-md-6 portfolio-item">
    <a href="/authors">
      <img class="img-responsive" src="http://placehold.it/700x100/5cb85c/000000?text=Authors">
    </a>
  </div>
</div>