body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.portfolio-item {
  margin-bottom: 25px;
}

.book-image {
  max-width: 300px;
}

.author-image {
  max-width: 150px;
}

.genre {
  cursor: pointer;
}